@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#root {
  width: 100%;
}

html,
body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background: #111827;
  font-family: 'Poppins', sans-serif;

  &::after {
    width: 100%;
    height: 25px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #2a3e68;
  }

  &::before {
    width: 100%;
    height: 25px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background: #2a3e68;
  }
}

h1 {
  color: #fff;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    margin-left: 17px;
    fill: #fff;
    transform: rotate(10deg);
  }
}

p {
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin-bottom: 30px;
}

.form-area {
  padding: 0 10px;
  margin-bottom: 30px;

  & form {
    max-width: 700px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;

    & input {
      width: 100%;
      background: transparent;
      border-bottom: 1px solid rgb(255, 255, 255, 0.1) !important;
      border: none;
      color: #fff;
      font-size: 20px;
      padding: 5px;
      transition: 500ms all;

      &::placeholder {
        color: #ffffff5f;
        font-size: 20px;
      }

      &:focus {
        border-bottom: 1px solid rgb(255, 255, 255) !important;

        &::placeholder {
          color: #fff;
        }
      }
    }

    & button {
      background: #2a3e68;
      border: none;
      white-space: nowrap;
      margin-left: 10px;
      color: #fff;
      padding: 13px 10px;
      border-radius: 10px;
      font-size: 20px;
      transition: 400ms all;
      cursor: pointer;
      border: 1px solid #2a3e68;
      transition: 400ms all;

      &:hover {
        background: none;
        border: 1px solid #2a3e68;
        transform: scale(0.97);
      }

      &.disabled {
        opacity: 0.6;
        cursor: no-drop;
      }
    }
  }
}

.content {
  padding-top: 30px;
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 1200ms ease-in;

  &.active {
    max-height: 500px;
    overflow-x: auto;
    opacity: 1;
    visibility: visible;
  }

  & .qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
  }

  & button {
    cursor: pointer;
    background: #2a3e68;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #2a3e68;
    transition: 400ms all;

    & svg {
      margin-left: 10px;
      fill: #fff;
    }

    &:hover {
      background: none;
      border: 1px solid #2a3e68;
      transform: scale(0.97);
    }
  }
}

@media only screen and (max-width:650px) {

  html,
  body {

    &::after {
      height: 15px;
    }

    &::before {
      height: 15px;
    }
  }


  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
  }

  .form-area {
    & form {
      flex-direction: column;
      padding-bottom: 0;

      & button {
        padding: 10px;
        font-size: 19px;
        margin: 15px 0;
      }

      & input {
        padding-bottom: 15px;
      }
    }
  }
}